name: Build
on:
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
      - name: Build package
        run: |
          git clone https://github.com/pymumu/smartdns.git
          cd smartdns
          sudo apt-get update && sudo apt-get install libgtest-dev dnsperf
          make all -j8
          ./package/build-pkg.sh --platform linux --arch all --static --only-package
          ls -al
          ls -al ../
          ls -al ./package
      - name: Upload artifact
        uses: actions/upload-artifact@v6
        with:
          path: ${{ github.workspace }}/*.tar.gz
