name: Build
on:
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout the code
        uses: actions/checkout@v6
        with:
          repository: "pymumu/smartdns"
      - name: Build package
        run: |
          ls -al
          ./package/build-pkg.sh --platform linux --arch all --static --only-package
          ls -al
