name: Build
on:
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
      - name: Build package
        run: |
          git clone https://github.com/pymumu/smartdns.git
          cd ./smartdns
          ./package/build-pkg.sh --platform linux --arch arm64 --static --outputdir ${{ github.workspace }}
      - name: Upload artifact
        uses: actions/upload-artifact@v6
        with:
          path: ${{ github.workspace }}/*.tar.gz
