name: Build
on:
  workflow_dispatch:
    inputs:
      release_tag:
        type: string
        required: true
jobs:
  build:
    runs-on: ${{ matrix.os }}
    container:
      image: debian:13
    strategy:
      matrix:
        include:
          - os: "ubuntu-24.04"
            name: "x86_64"
          - os: "ubuntu-24.04-arm"
            name: "aarch64"
    steps:
      - name: Build package
        run: |
          apt-get update
          apt-get upgrade -y
          apt-get install -y binutils perl curl make gcc clang wget unzip ca-certificates git build-essential pkg-config libssl-dev libzstd-dev zlib1g-dev libgtest-dev dnsperf
          git clone https://github.com/pymumu/smartdns.git
          #sed -i 's/-lcrypto -Wl,--whole-archive/-lcrypto -lzstd -lz -Wl,--whole-archive/' ./smartdns/src/Makefile
          #sed -i 's/-lcrypto -lpthread/-lcrypto -lzstd -lz -lpthread/' ./smartdns/src/Makefile
          sh ./smartdns/package/build-pkg.sh --platform linux --arch $(dpkg --print-architecture) --static
      - name: Upload files to Artifacts
        uses: actions/upload-artifact@v6
        with:
          path: ${{ github.workspace }}/smartdns/src/smartdns
          name: smartdns-${{ matrix.name }}
          compression-level: 0
