name: Build
on:
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
      - name: Build package
        run: |
          git clone https://github.com/pymumu/smartdns.git
          cd ./smartdns
          sudo apt-get update && sudo apt-get install libgtest-dev dnsperf
          make all -j8
          ./package/build-pkg.sh --platform linux --arch all --static --only-package --outputdir ${{ github.workspace }}
          ls -al ${{ github.workspace }}
          ls -al ${{ github.workspace }}/linux
      - name: Upload artifact
        uses: actions/upload-artifact@v6
        with:
          path: ${{ github.workspace }}/linux/*
