name: Build
on:
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
      - name: Build package
        run: |
          sudo apt-get update
          sudo apt-get install libgtest-dev dnsperf
          git clone https://github.com/pymumu/smartdns.git
          cd ./smartdns
          make all -j4
      - name: Upload artifact
        uses: actions/upload-artifact@v6
        with:
          name: "shagou"
          path: ${{ github.workspace }}/smartdns/src/smartdns
