name: Build
on:
  workflow_dispatch:
jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: "macos-15-large"
            arch: "x86-64"
            name: "x86_64"
          - os: "macos-15-xlarge"
            arch: "arm64"
            name: "aarch64"
    steps:
      - name: Build package
        run: |
          #wget https://github.com/openssl/openssl/releases/download/openssl-3.5.4/openssl-3.5.4.tar.gz
          #tar -xzf ./openssl-3.5.4.tar.gz
          #cd ./openssl-3.5.4
          #./Configure
          #make -j4
          #make test -j4
          #sudo make install -j4
          #sudo apt-get update
          #sudo apt-get upgrade
          #sudo apt-get install -y openssl git build-essential pkg-config libssl-dev libzstd-dev zlib1g-dev libgtest-dev dnsperf
          brew install openssl
          git clone https://github.com/pymumu/smartdns.git
          #sed -i 's/-lcrypto -Wl,--whole-archive/-lcrypto -lzstd -lz -Wl,--whole-archive/' ./smartdns/src/Makefile
          #sed -i 's/-lcrypto -lpthread/-lcrypto -lzstd -lz -lpthread/' ./smartdns/src/Makefile
          ./smartdns/package/build-pkg.sh --platform linux --arch ${{ matrix.arch }} --static
      - name: Upload files to Artifacts
        uses: actions/upload-artifact@v6
        with:
          path: ${{ github.workspace }}/smartdns/src/smartdns
          name: smartdns-${{ matrix.name }}
          compression-level: 0
