name: Build
on:
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout the code
        uses: actions/checkout@v6
        with:
          repository: "pymumu/smartdns"
          submodules: "recursive"
      - name: Build package
        run: |
          git clone https://github.com/pymumu/smartdns.git
          /home/runner/work/dropbear-build/dropbear-build/smartdns/package/build-pkg.sh --platform linux --arch all --static --only-package --outputdir /home/runner/work/dropbear-build/dropbear-build
          ls -al
