name: Build
on:
  workflow_dispatch:
jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: "ubuntu-24.04"
            name: "x86_64"
          - os: "ubuntu-24.04-arm"
            name: "aarch64"
    steps:
      - name: Build package
        run: |
          git clone https://github.com/pymumu/smartdns.git
          ./smartdns/package/build-pkg.sh --platform linux --arch all --static --outputdir ${{ github.workspace }}
      - name: Upload files to Artifacts
        uses: actions/upload-artifact@v6
        with:
          path: ${{ github.workspace }}/smartdns/package
          name: smartdns-${{ matrix.name }}
          compression-level: 0
