name: Build
on:
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
      - name: Build package
        run: |
          git clone https://github.com/pymumu/smartdns.git
          ./smartdns/package/build-pkg.sh --platform debian --arch all --static --outputdir ${{ github.workspace }}
      - name: Upload artifact
        uses: actions/upload-artifact@v6
        with:
          name: "smartdns-x86_64"
          path: ${{ github.workspace }}/smartdns/src/smartdns
