name: Build
on:
  workflow_dispatch:
    inputs:
      release_tag:
        required: true
        type: string
jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: "ubuntu-24.04"
            name: "smartdns-x86_64"
          - os: "ubuntu-24.04-arm"
            name: "smartdns-aarch64"
    env:
      OPENSSL_VERSION: "3.5.4"
      OPENSSL_PREFIX: "/usr/local/openssl"
      OPENSSL_OPTIONS: "no-argon2 no-aria no-async no-bf no-blake2 no-camellia no-cmp no-cms no-comp no-des no-dh no-dsa no-ec2m no-engine no-gost no-http no-idea no-legacy no-md4 no-mdc2 no-multiblock no-nextprotoneg no-ocb no-ocsp no-rc2 no-rc4 no-rmd160 no-scrypt no-seed no-siphash no-siv no-sm2 no-sm3 no-sm4 no-srp no-srtp no-ts no-whirlpool no-apps no-ssl-trace no-ssl no-ssl3 no-tests -Os"
    steps:
      - name: Setup node
        uses: actions/setup-node@v6
        with:
          node-version: 24
          check-latest: true
      - name: Setup rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true
      - name: Build openssl
        run: |
          sudo apt-get update
          sudo apt-get install -y binutils perl curl make gcc clang wget unzip ca-certificates
          sudo update-ca-certificates
          rm -rf ./openssl && mkdir ./openssl && cd ./openssl
          curl -sSL https://github.com/openssl/openssl/releases/download/openssl-$OPENSSL_VERSION/openssl-$OPENSSL_VERSION.tar.gz | tar --strip-components=1 -zx
          if [ "$(uname -m)" = "aarch64" ]; then
              ./Configure --prefix=$OPENSSL_PREFIX --openssldir=$OPENSSL_PREFIX -mno-outline-atomics '-Wl,-rpath,$(LIBRPATH)'
          else
              ./Configure --prefix=$OPENSSL_PREFIX --openssldir=$OPENSSL_PREFIX '-Wl,-rpath,$(LIBRPATH)'
          fi
          make all -j$(nproc)
          sudo make install_sw -j$(nproc)
      - name: Build smartdns
        run: |
          git clone --depth=1 https://github.com/pymumu/smartdns.git
          export CFLAGS="-I$OPENSSL_PREFIX/include"
          export LDFLAGS="-L$OPENSSL_PREFIX/lib -L$OPENSSL_PREFIX/lib64"
          sh ./smartdns/package/build-pkg.sh --platform linux --arch $(dpkg --print-architecture) --static
          rm -rf ./releases && mkdir ./releases
          mv ./smartdns/src/smartdns ./releases/${{ matrix.name }}
      - name: Upload files to release
        uses: softprops/action-gh-release@v2
        with:
          files: ${{ github.workspace }}/releases/*
          tag_name: ${{ github.event.inputs.release_tag }}
          generate_release_notes: true
