name: Build with debian
on:
  workflow_dispatch:
jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: "windows-10"
          - os: "windows-11"
    steps:
      - name: Test
        run: |
          curl https://api.cloudflare.com/cdn-cgi/trace
