name: Build
on:
  workflow_dispatch:
    inputs:
      release_tag:
        required: false
        type: string
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the code from hev-socks5-tunnel
        uses: actions/checkout@v6
        with:
          repository: "heiher/hev-socks5-tunnel"
          ref: ""
          path: "jni"
          submodules: "recursive"
      - name: Setup the Android home environment
        run: |
          rm -rf $HOME/Android/sdk && mkdir -p $HOME/Android/sdk
          echo "ANDROID_HOME=$HOME/Android/sdk" >> $GITHUB_ENV
          rm -rf $HOME/tmp && mkdir -p $HOME/tmp
          echo "HOME_TMP=$HOME/tmp" >> $GITHUB_ENV
      - name: Setup the Android cmdline-tools environment
        run: |
          wget -q https://dl.google.com/android/repository/commandlinetools-linux-13114758_latest.zip -O $HOME_TMP/commandlinetools-linux.zip
          unzip -q $HOME_TMP/commandlinetools-linux.zip -d $ANDROID_HOME
          echo "$ANDROID_HOME/cmdline-tools/latest/bin" >> $GITHUB_PATH
          yes | $ANDROID_HOME/cmdline-tools/latest/bin/sdkmanager --licenses
      - name: Setup the Android platform-tools environment
        run: |
          sdkmanager --channel=0 --install "platform-tools"
          echo "$ANDROID_HOME/platform-tools" >> $GITHUB_PATH
      - name: Setup the Android ndk environment
        run: |
          sdkmanager --channel=0 --install "ndk;29.0.14206865"
          echo "$ANDROID_HOME/ndk/29.0.14206865" >> $GITHUB_PATH
      - name: test
        run: |
          echo $ANDROID_HOME
          echo $HOME_TMP
          sdkmanager --version
          adb ndk-build
          ndk-build ndk-build
