name: Build with debian
on:
  workflow_dispatch:
    inputs:
      release_tag:
        type: string
        required: true
jobs:
  build:
    runs-on: ${{ matrix.os }}
    container:
      image: debian:13
      env:
        LC_ALL: "C.UTF-8"
    strategy:
      matrix:
        include:
          - os: "ubuntu-24.04"
          - os: "ubuntu-24.04-arm"
    env:
      OPENSSL_VERSION: "3.5.5"
      OPENSSL_PREFIX: "/usr/local/openssl"
    steps:
      - name: Build openssl
        run: |
          apt-get update
          apt-get upgrade -y
          locale -a
          locale
