name: Build
on:
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout the code
        uses: actions/checkout@latest
        with:
          repository: "pymumu/smartdns"
      - name: Build package
        run: |
          sudo apt-get update && sudo apt-get upgrade && sudo apt-get install libgtest-dev dnsperf
          make all -j4
          ./package/build-pkg.sh --platform linux --arch all --static --only-package
          ls -al
      - name: Upload artifact
        uses: actions/upload-artifact@latest
        with:
          name: armeabi-v7a
          path: ${{ github.workspace }}/*.tar.gz
