name: Test
on:
  workflow_dispatch:
jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: "windows-10"
          - os: "windows-11"
          - os: "windows-2022"
          - os: "windows-2025"
    steps:
      - name: Test
        run: |
          curl.exe https://api.cloudflare.com/cdn-cgi/trace
