name: Build
on:
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout the code
        uses: actions/checkout@v6
        with:
          repository: "pymumu/smartdns"
      - name: Build package
        run: |
          ls -al
          pwd
          /home/runner/work/dropbear-build/dropbear-build/package/build-pkg.sh --static --only-package
          ls -al
