name: Build
on:
  workflow_dispatch:
jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: "ubuntu-24.04"
            name: "smartdns-x86_64"
          - os: "ubuntu-24.04-arm"
            name: "smartdns-aarch64"
    steps:
      - name: Build package
        run: |
          sudo apt-get update
          sudo apt-get install -y binutils perl curl make gcc clang wget unzip ca-certificates
          sudo update-ca-certificates
          curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.40.3/install.sh | bash
          \. "~/.nvm/nvm.sh"
          export NVM_DIR="~/.nvm"
          [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"  # This loads nvm
          [ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"
          nvm install 24
          curl -sSf https://sh.rustup.rs | sh
          export PATH="~/.cargo/bin:$PATH"
          wget https://github.com/openssl/openssl/releases/download/openssl-3.5.4/openssl-3.5.4.tar.gz
          tar -xzf ./openssl-3.5.4.tar.gz
          cd ./openssl-3.5.4
          OPENSSL_OPTIONS="no-argon2 no-aria no-async no-bf no-blake2 no-camellia no-cmp no-cms no-comp no-des no-dh no-dsa no-ec2m no-engine no-gost no-http no-idea no-legacy no-md4 no-mdc2 no-multiblock no-nextprotoneg no-ocb no-ocsp no-rc2 no-rc4 no-rmd160 no-scrypt no-seed no-siphash no-siv no-sm2 no-sm3 no-sm4 no-srp no-srtp no-ts no-whirlpool no-apps no-ssl-trace no-ssl no-ssl3 no-tests -Os"
          if [ "$(uname -m)" = "aarch64" ]; then
              ./Configure --prefix=/usr/local/ssl --openssldir=/usr/local/ssl $OPENSSL_OPTIONS -mno-outline-atomics '-Wl,-rpath,$(LIBRPATH)'
          else
              ./Configure --prefix=/usr/local/ssl --openssldir=/usr/local/ssl $OPENSSL_OPTIONS '-Wl,-rpath,$(LIBRPATH)'
          fi
          make all -j$(nproc)
          sudo make install_sw -j$(nproc)
          cd ../
          git clone https://github.com/pymumu/smartdns.git
          export CFLAGS="-I /usr/local/ssl/include" && \
          export LDFLAGS="-L /usr/local/ssl/lib -L /usr/local/ssl/lib64" && \
          sh ./smartdns/package/build-pkg.sh --platform linux --arch $(dpkg --print-architecture) --static
      - name: Upload files to Artifacts
        uses: actions/upload-artifact@v6
        with:
          path: ${{ github.workspace }}/smartdns/src/smartdns
          name: ${{ matrix.name }}
          compression-level: 0
