name: Build
on:
  workflow_dispatch:
jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: "ubuntu-24.04"
            opensslLibPath: "lib64"
            arch: "x86-64"
            name: "x86_64"
          - os: "ubuntu-24.04-arm"
            opensslLibPath: "lib"
            arch: "arm64"
            name: "aarch64"
    steps:
      - name: Build package
        run: |
          wget https://github.com/openssl/openssl/releases/download/openssl-3.5.4/openssl-3.5.4.tar.gz
          tar -xzf ./openssl-3.5.4.tar.gz
          cd ./openssl-3.5.4
          ./Configure --prefix=/usr/local/ssl --openssldir=/usr/local/ssl '-Wl,-rpath,$(LIBRPATH)'
          make -j$(nproc)
          sudo make install -j$(nproc)
          sudo mv /usr/bin/openssl /usr/bin/openssl.bak
          sudo ln -s /usr/local/ssl/bin/openssl /usr/bin/openssl
          echo /usr/local/ssl/${{ matrix.opensslLibPath }} | sudo tee /etc/ld.so.conf.d/openssl-3.5.4.conf
          sudo ldconfig
          openssl version -a
          cd ../
          sudo apt-get update
          sudo apt-get install -y git build-essential pkg-config libssl-dev libzstd-dev zlib1g-dev libgtest-dev dnsperf
          git clone https://github.com/pymumu/smartdns.git
          ./smartdns/package/build-pkg.sh --platform linux --arch ${{ matrix.arch }} --static
      - name: Upload files to Artifacts
        uses: actions/upload-artifact@v6
        with:
          path: ${{ github.workspace }}/smartdns/src/smartdns
          name: smartdns-${{ matrix.name }}
          compression-level: 0
