name: Build with ubuntu
on:
  workflow_dispatch:
    inputs:
      release_tag:
        type: string
        required: true
jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: "ubuntu-24.04"
          - os: "ubuntu-24.04-arm"
    env:
      OPENSSL_VERSION: "3.5.5"
      OPENSSL_PREFIX: "/usr/local/openssl"
    steps:
      - name: Setup node
        uses: actions/setup-node@v6
        with:
          node-version: lts/*
          check-latest: true
      - name: Setup rust
        run: rustup update stable && rustup default stable
      - name: Build openssl
        run: |
          curl -sSL https://github.com/openssl/openssl/releases/download/openssl-$OPENSSL_VERSION/openssl-$OPENSSL_VERSION.tar.gz | tar -zx
          cd ./openssl-$OPENSSL_VERSION
          if [ "$(uname -m)" = "aarch64" ]; then
              ./Configure --prefix=$OPENSSL_PREFIX --openssldir=$OPENSSL_PREFIX -mno-outline-atomics '-Wl,-rpath,$(LIBRPATH)'
          else
              ./Configure --prefix=$OPENSSL_PREFIX --openssldir=$OPENSSL_PREFIX '-Wl,-rpath,$(LIBRPATH)'
          fi
          make -j$(nproc) && sudo make install_sw
      - name: Build smartdns
        run: |
          mkdir ./releases
          export CFLAGS="-I$OPENSSL_PREFIX/include"
          export LDFLAGS="-L$OPENSSL_PREFIX/lib -L$OPENSSL_PREFIX/lib64"
          rm -rf ./smartdns && git clone --depth=1 https://github.com/pymumu/smartdns.git
          sh ./smartdns/package/build-pkg.sh --platform linux --arch $(dpkg --print-architecture)
          strip ./smartdns/src/smartdns && mv ./smartdns/src/smartdns ./releases/smartdns-$(dpkg --print-architecture)
          rm -rf ./smartdns && git clone --depth=1 https://github.com/pymumu/smartdns.git
          sh ./smartdns/package/build-pkg.sh --platform linux --arch $(dpkg --print-architecture) --static
          strip ./smartdns/src/smartdns && mv ./smartdns/src/smartdns ./releases/smartdns-static-$(dpkg --print-architecture)
      - name: Upload files to release
        uses: softprops/action-gh-release@v2
        with:
          files: ${{ github.workspace }}/releases/*
          tag_name: ${{ github.event.inputs.release_tag }}
